body{
    background-color: hsl(220deg 13.04% 9.02%);
    text-align: center;
}

img{
    border-radius: 100%;
    width: 130px;
}

h1,#status{
    color: #ffffff;
}

.title{
    margin-bottom: 5px;
}

.text{
    margin-top: 5px;
}

.link-element{
    margin: 0 auto;
    width: 500px;
    background-color: #ffffff;
    border-radius: 30px;
}

a{
    text-decoration: none;
    color: #000000;
}

.icon{
    width: 100px;
    border-radius: 100%;
}